@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
*{
    margin: 0;
}
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
nav{
    display: flex;
    justify-content: space-between;
}
nav ul{
    display: flex;
    align-items: center;
}   
nav a{
    text-decoration: none;
}
nav ul li{
    list-style: none;
    margin-left: 50px;
}
nav h3{
    font-weight: 900;
    font-size: 40px;
}
span{
    color: #FD6E0A;
}
nav ul li:nth-of-type(1)>a,nav ul li:nth-of-type(2)>a{
    color: black;
    font-size: 18px;
}
nav ul li:nth-of-type(3)>a{
    color: white;
    background-color: #FD6E0A;
    font-weight: bold;
    border-radius: 5px;
    padding: 10px;
}
nav{
    padding: 5px 70px 0px;
}
.intro{
    margin-left: 70px;
    width: 540px;
    display: flex;
    flex-direction: column;
    justify-content: center
}
.banner-section{
    display: flex;
    width: 99%;
    gap: 120px;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: right;
    background-position-x: 550px;
    background-position-y:100px ;
    margin-left: 10px;
}
.intro>h2{
    color: #474747;
    font-weight: 700;
    font-size: 40px;
}
.intro>h1{
    font-weight: bold;
    font-size: 55px;
    margin-top: 0px;
    margin-bottom: 10px;
}
.intro>p{
    color: #757575;
    font-size: 18px;
}
.intro button{
    padding: 13px 18px 10px;
    background-color: #FD6E0A;
    color: white;
    border: 0px;
    font-weight: bold;
    border-radius: 4px;
    font-size: 20px;
    display: flex;
    gap: 10px;
    align-items: center;
}
.bandd{
    display: flex;
    align-items: center;
    gap: 25px;
}
.banner-section>.bandd>img{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.bandd a{
    padding: 12px 18px 10px;
    color: #FD6E0A;
    border:2px solid #FD6E0A ;
    border-radius: 4px;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    display: flex;
    gap: 10px;
}
.tele{
    padding-top: 2px;
}
.total-banner{
    display: flex;
    background-color: #FFF8F3;
    width: 1371px;
}
.total-banner>img{
    padding-left: 30px;
    padding-top: 10px;
}
.images>img{
    margin-top: 0px;
}
.information{
    display: flex;
    justify-content: space-around;
}
.information  div p:nth-last-of-type(2){
    color: #757575;
    font-size: 15px;
    margin-top: 30px;
}
.information  div p:nth-last-of-type(1){
    font-weight: bold;
    font-size: 18px;
    color: #474747;
    margin-bottom: 20px;
}
.about-me-content{
    background-color: white;
    width: 820px;
    text-align: center;
    padding: 10px;
    border: 2px solid black;
}
.about-me-content>p:nth-of-type(1){
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 40px;
}
.about-me-content>p:nth-of-type(2){
    font-size: 15px;
    color: #757575;
}
.about-me{
    background-color:#FFF8F3;
    padding: 125px;
    margin-top: 80px;
}
.total-about-me{
    display: flex;
    justify-content: center;
    align-items: center;
}
.what-i-do-section{
    text-align: center;
    padding: 125px 230px;
}
.what-i-do-section>p:nth-last-of-type(2){
    font-weight: bold;
    font-size: 25px;
}
.what-i-do-section>p:nth-last-of-type(1){
    font-size: 15px;
    color: #757575;
}
.tasks{
    margin-top: 60px;
    display: flex;
    gap: 20px;
}
.task{
    text-align:left;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.074);
    padding: 30px;
}
.task>p:nth-of-type(2){
    color: #757575;
    font-size: 14px;
}
.task>p:nth-of-type(1){
    font-weight: bold;
    font-size: 18px;
}
.summary{
    padding: 20px;
}
.summary>p{
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}
.education h2,.experience h2{
    font-weight: bold;
    color: #474747;
    font-size: 20px;
}
.education h3,.experience h3{
    font-weight: bold;
    color: #474747;
    font-size: 15px;
}
.education h4,.experience h4{
    font-weight:500;
    color: #757575;
    font-size: 15px;
}
.education p,.experience p{
    color: #757575;
    font-size: 13px;
}
.content{
    display: flex;
    gap: 15px;
    margin: 0px 230px;
}
.education ,.experience{
    width: 520px;
}
.summary button{
    padding: 10px 15px 10px;
    background-color: #FD6E0A;
    color: white;
    border: 0px;
    font-weight:600;
    border-radius: 4px;
    font-size: 17px;
    display: flex;
    gap: 10px;
    align-items: center;
}
.summary .button-container{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.contact img{
    margin-right: 20px;
}
input[type="text"],input[type="email"]{
    border-radius: 5px;
    width: 450px;
    height: 60px;
    margin-bottom: 20px;
    border: 0px;
    padding-left: 15px;
}
textarea{
    width: 435px;
    height: 180px;
    border-radius: 5px;
    resize: none;
    margin-bottom: 20px;
    border: 0px;
    padding: 15px;
}
input[type="submit"]{
    background-color: #FD6E0A;
    color: white;
    border: 0px;
    border-radius: 5px;
    font-weight: bold;
    padding: 15px 25px;
    font-size: 17px;
}
footer{
    background-color: #FFF8F3;
    display: flex;
    padding: 80px 170px;
    gap: 30px;
}